.cardDetails-page {
  position: relative;
  text-align: left;
  width: 360px;
}

.cardDetails {

  /* border: 5px solid blue; */
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 100%;
}

.img-cardDetails {
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 155px;
  margin: 10px auto;
  position: relative;
  width: 50%;
}

.title-cardDetails {
  align-items: center;
  color: black;
  display: flex;
  font-family: Roboto , sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  margin-left: 5px;
  position: relative;
}

.div-buttons {
  align-items: center;
  border-radius: 6px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  position: relative;
  width: 360px;
}

.share-btn {
  border: none;
  border-radius: 6px;
  font-family: Roboto , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 30px;
  line-height: 22px;
  padding: 5px;
  position: relative;
  width: 130px;
}

.favorite-btn {
  border: none;
  font-family: Roboto , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 30px;
  line-height: 22px;
  padding: 5px;
  position: relative;
  width: 130px;
}

.recipe-category {
  align-items: center;

  /* border: 5px solid blue; */
  display: flex;
  font-family: Roboto , sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  height: 25px;
  line-height: 25px;
  margin: 5px auto;
  margin-left: 10px;
  position: relative;
  width: 73px;
}

.div-lista-ingredientes {
  align-items: center;

  /* border: 5px solid blue; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 10px 0;
  position: relative;
  text-align: left;
  width: 360px;
}

.ingredients-cardDetails {
  background: #ececec;

  /* border: 5px solid blue; */
  border-radius: 6px;
  color: black;
  margin: 10px 0;
  padding: 7px;
  position: relative;
  text-align: left;
  width: 341px;
}

.item-list-ingredients {

  /* border: 5px solid blue; */
  display: block;
  font-family: Roboto , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: 22px;
  list-style: none;
  text-align: left;
  width: 100%;
}

.instructions {
  align-items: flex-end;
  background: #ececec;
  border-radius: 6px;
  color: black;
  display: flex;
  font-family: Roboto , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: 24px;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  width: 341px;
}

.video-cardDetails {
  align-items: center;
  color: black;
  display: flex;
  position: relative;
  width: 360px;
}

.div-recomendacoes {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.div-recomendation-card {
  align-items: center;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  position: relative;
  width: 45%;
}

.recomendation-card {
  align-items: flex-end;
  color: black;
  display: flex;
  font-family: Roboto , sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 30px;
  position: relative;

}

.img-card-recommended {
  display: flex;
  height: 109px;
  position: relative;
  width: 161px;
}

.category-alcoholic {
  align-items: flex-end;
  color: darkgray;
  display: flex;
  font-family: Roboto , sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: 18px;
  line-height: 18px;
  margin: auto;
  padding: 5px;
  position: relative;
  width: 62px;

}

.title-recomend {
  align-items: flex-end;
  color: black;
  display: flex;
  font-family: Roboto , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 21px;
  line-height: 21px;
  position: relative;
  width: 76px;
}

.start-recipe-btn {
  align-items: center;
  background: #6ce34f;

  /* border: 2px solid red; */
  bottom: 0;
  color: black;
  display: flex;
  font-family: Roboto , sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  height: 76px;
  justify-content: space-around;
  line-height: 34px;
  margin: auto;
  margin-top: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}
