.cardDetails-page {
  align-items: center;

  /* border: 2px solid red; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  left: 0;
  margin: 0;
  padding: 0 10px;
  position: absolute;
  right: 0;
  text-align: left;
  width: 310px;
}

.cardDetails {
  align-items: center;

  /* border: 2px solid green; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  left: 0;
  margin: 0;
  position: relative;
  width: 95%;
}

.img-cardDetails {

  /* border: 2px solid blue; */
  border-radius: 6px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  height: auto;
  margin: 10px auto;
  position: relative;
  width: 50%;
}

.title-cardDetails {
  align-items: center;

  /* border: 2px solid violet; */
  color: black;
  display: flex;
  font-family: Roboto , sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  margin-left: 5px;
  position: relative;
  width: 98%;
}

.div-buttons {
  align-items: center;

  /* border: 2px solid #6ce34f; */
  border-radius: 6px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: auto;
  position: relative;
  width: 90%;
}

.share-btn {
  border: none;
  border-radius: 6px;
  font-family: Roboto , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 30px;
  line-height: 22px;
  margin: auto;
  padding: 5px;
  position: relative;
  width: 45%;
}

.favorite-btn {
  background-color: white;
  border: none;
  font-family: Roboto , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 30px;
  line-height: 22px;
  margin: auto;
  padding: 5px;
  position: relative;
  width: 45%;
}

.recipe-category {
  align-items: center;

  /* border: 2px solid #6ce34f; */
  display: flex;
  font-family: Roboto , sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  height: 25px;
  line-height: 25px;
  margin: 10px auto;
  margin-left: 10px;
  position: relative;
  width: 95%;
}

.div-lista-ingredientes {
  align-items: center;

  /* border: 2px solid brown; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 10px 0;
  position: relative;
  text-align: left;
  width: 100%;
}

.ingredients-cardDetails {
  background: #ececec;

  /* border: 5px solid blue; */
  border-radius: 6px;
  color: black;
  margin: 10px 0;
  padding: 7px;
  position: relative;
  text-align: left;
  width: 95%;
}

.item-list-ingredients {

  /* border: 5px solid blue; */
  display: block;
  font-family: Roboto , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: 22px;
  list-style: none;
  text-align: left;
  width: 90%;
}

.instructions {
  align-items: flex-end;
  background: #ececec;

  /* border: 2px solid brown; */
  border-radius: 6px;
  color: black;
  display: flex;
  font-family: Roboto , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: 24px;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  width: 95%;
}

.video-cardDetails {
  align-items: center;

  /* border: 2px solid purple; */
  color: black;
  display: flex;
  margin: 10px auto;
  margin-bottom: 90px;
  position: relative;
  width: 90%;
}

.category-alcoholic {
  align-items: flex-end;

  /* border: 2px solid purple; */
  color: darkgray;
  display: flex;
  font-family: Roboto , sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: 18px;
  line-height: 18px;
  margin: auto;
  padding: 5px;
  position: relative;
  width: 20%;

}

.title-recomend {
  align-items: flex-end;
  color: black;
  display: flex;
  font-family: Roboto , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 21px;
  line-height: 21px;
  position: relative;
  width: 25%;
}

.start-recipe-btn {
  align-items: center;
  background: #6ce34f;
  bottom: 0;
  color: black;
  display: flex;
  font-family: Roboto , sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  height: 76px;
  justify-content: space-around;
  line-height: 34px;
  margin-top: 10px;
  position: fixed;
  text-align: center;
  width: 85%;
}
