.container-recomend-recipe {
  border: 1px solid red;
  display: flex;
  overflow: auto;
}

.card-recomend-recipe {
  border: 1px solid purple;
  width: 200px;
}

.card-recomend-recipe img {
  width: 200px;
}
