.container-recomend-recipe {
  border: 1px solid red;
  display: flex;
  overflow: hidden;
}

.card-recomend-recipe {
  border: 1px solid purple;
  width: 360px;

}

.card-recomend-recipe img {
  margin: 0 6px;
  width: 155px;
}
